@model scratch.ViewModel.CustomerViewModel
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
<table class=“table”>
    <thead> 
        <tr>
            <th scope="col">Customer</th>
        </tr>
    </thead>
    
    <tbody>
    @foreach (var cust in @Model.Customer)
        {
        <tr>
            <th scope="row">
               @Html.ActionLink(@cust.Name,"Details","Customers",new {id = cust.Id},null)
            </th>
        </tr>
        }
    </tbody>
</table>
